In [110]:
import pandas as pd
import numpy as np
import random
import csv
import math
# import numpy package for arrays and stuff
import numpy as np

# import matplotlib.pyplot for plotting our result
import matplotlib.pyplot as plt

# import pandas for importing csv files
import pandas as pd

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (20,12)
mpl.rcParams['axes.grid'] = False

from sklearn import linear_model

In [111]:
df = pd.read_csv('/content/Test.csv', parse_dates=['Time'],)
df['Time'] = df['Time'].dt.tz_localize(None)
df = df.fillna(method ='ffill')
df = df.fillna(method ='bfill')

In [112]:
df['Time'] = pd.to_datetime(df['Time'], infer_datetime_format=True)

In [113]:
# df=df.loc[:, ["Time","Total_Value","Ventilation","Sokets_Plug","Lighting","Other_Electricity","Cooling","Heating"]]
# df.reset_index(drop=True, inplace=True) # Replaces the index with integers

In [114]:
# df.set_index('Time')[["Total_Value","Ventilation","Sokets_Plug","Lighting","Other_Electricity","Cooling","Heating"]].plot(subplots=True)

In [115]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour
df['day_of_week'] = df['Time'].dt.dayofweek
# df.drop('Time', inplace=True, axis=1)
df

                   Time  Ventilation  Sokets_Plug  ...  Day  Hour  day_of_week
0   2021-05-21 09:00:00       53.125       16.250  ...   21     9            4
1   2021-05-21 10:00:00       53.125       16.250  ...   21    10            4
2   2021-05-21 11:00:00        2.500       10.375  ...   21    11            4
3   2021-05-21 12:00:00       76.000       24.750  ...   21    12            4
4   2021-05-21 13:00:00       53.500       23.313  ...   21    13            4
..                  ...          ...          ...  ...  ...   ...          ...
716 2021-06-20 05:00:00       84.875       22.750  ...   20     5            6
717 2021-06-20 06:00:00       84.875       22.750  ...   20     6            6
718 2021-06-20 07:00:00       84.875       22.750  ...   20     7            6
719 2021-06-20 08:00:00       84.875       22.750  ...   20     8            6
720 2021-06-20 09:00:00       84.875       22.750  ...   20     9            6

[721 rows x 13 columns]

In [116]:
df=df.loc[:, ["Time","Year","Month","Day","Hour","day_of_week","Total_Value","Ventilation","Sokets_Plug","Lighting","Other_Electricity","Cooling","Heating"]]
df.reset_index(drop=True, inplace=True) # Replaces the index with integers
df

                   Time  Year  Month  ...  Other_Electricity  Cooling  Heating
0   2021-05-21 09:00:00  2021      5  ...             52.375   13.875     9.25
1   2021-05-21 10:00:00  2021      5  ...             52.375   13.875     9.25
2   2021-05-21 11:00:00  2021      5  ...              0.000    4.625     6.75
3   2021-05-21 12:00:00  2021      5  ...            126.000   17.125     7.25
4   2021-05-21 13:00:00  2021      5  ...             61.625    9.875     7.25
..                  ...   ...    ...  ...                ...      ...      ...
716 2021-06-20 05:00:00  2021      6  ...              0.000  200.125     6.00
717 2021-06-20 06:00:00  2021      6  ...              0.000  200.125     6.00
718 2021-06-20 07:00:00  2021      6  ...              0.000  200.125     6.00
719 2021-06-20 08:00:00  2021      6  ...              0.000  200.125     6.00
720 2021-06-20 09:00:00  2021      6  ...              0.000  200.125     6.00

[721 rows x 13 columns]

Generating WeekEnd Data

In [118]:
weekend = df.loc[(df['day_of_week'].isin([5,6]))]
weekend

                   Time  Year  Month  ...  Other_Electricity  Cooling  Heating
15  2021-05-22 00:00:00  2021      5  ...             31.563   20.875     6.50
16  2021-05-22 01:00:00  2021      5  ...             44.063    6.750     3.00
17  2021-05-22 02:00:00  2021      5  ...             79.750   18.125     6.25
18  2021-05-22 03:00:00  2021      5  ...             78.875   14.750     5.75
19  2021-05-22 04:00:00  2021      5  ...             46.000   10.375     6.75
..                  ...   ...    ...  ...                ...      ...      ...
716 2021-06-20 05:00:00  2021      6  ...              0.000  200.125     6.00
717 2021-06-20 06:00:00  2021      6  ...              0.000  200.125     6.00
718 2021-06-20 07:00:00  2021      6  ...              0.000  200.125     6.00
719 2021-06-20 08:00:00  2021      6  ...              0.000  200.125     6.00
720 2021-06-20 09:00:00  2021      6  ...              0.000  200.125     6.00

[226 rows x 13 columns]

In [119]:
weekend.to_csv('weekend.csv', index=False)

Generating Working Hours Data (9am to 7pm)

In [120]:
work = df.loc[(df['day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([9,10,11,12,13,14,15,16,17,18,19]))]
work

                   Time  Year  Month  ...  Other_Electricity  Cooling  Heating
0   2021-05-21 09:00:00  2021      5  ...             52.375   13.875     9.25
1   2021-05-21 10:00:00  2021      5  ...             52.375   13.875     9.25
2   2021-05-21 11:00:00  2021      5  ...              0.000    4.625     6.75
3   2021-05-21 12:00:00  2021      5  ...            126.000   17.125     7.25
4   2021-05-21 13:00:00  2021      5  ...             61.625    9.875     7.25
..                  ...   ...    ...  ...                ...      ...      ...
678 2021-06-18 15:00:00  2021      6  ...              0.000  200.125     6.00
679 2021-06-18 16:00:00  2021      6  ...              0.000  200.125     6.00
680 2021-06-18 17:00:00  2021      6  ...              0.000  200.125     6.00
681 2021-06-18 18:00:00  2021      6  ...              0.000  200.125     6.00
682 2021-06-18 19:00:00  2021      6  ...              0.000  200.125     6.00

[231 rows x 13 columns]

In [121]:
work.to_csv('work.csv', index=False)

Generating Night Hours Data (7pm to midnight)

In [122]:
night = df.loc[(df['day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([20,21,22,23,0]))]
night

                   Time  Year  Month  ...  Other_Electricity  Cooling  Heating
11  2021-05-21 20:00:00  2021      5  ...              0.000    5.750    20.25
12  2021-05-21 21:00:00  2021      5  ...             84.625   11.125     6.75
13  2021-05-21 22:00:00  2021      5  ...             54.313   10.125     6.50
14  2021-05-21 23:00:00  2021      5  ...              0.000    6.875     3.50
63  2021-05-24 00:00:00  2021      5  ...             74.250   25.438     6.00
..                  ...   ...    ...  ...                ...      ...      ...
663 2021-06-18 00:00:00  2021      6  ...              0.000  200.125     6.00
683 2021-06-18 20:00:00  2021      6  ...              0.000  200.125     6.00
684 2021-06-18 21:00:00  2021      6  ...              0.000  200.125     6.00
685 2021-06-18 22:00:00  2021      6  ...              0.000  200.125     6.00
686 2021-06-18 23:00:00  2021      6  ...              0.000  200.125     6.00

[104 rows x 13 columns]

In [123]:
night.to_csv('night.csv', index=False)

Generating Early Morning Data (midnight to 8 am)

In [124]:
morning = df.loc[(df['day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([1,2,3,4,5,6,7,8]))]
morning

                   Time  Year  Month  ...  Other_Electricity  Cooling  Heating
64  2021-05-24 01:00:00  2021      5  ...             79.125   16.563     6.25
65  2021-05-24 02:00:00  2021      5  ...             65.313   21.500     6.25
66  2021-05-24 03:00:00  2021      5  ...             78.813   20.500     7.50
67  2021-05-24 04:00:00  2021      5  ...             76.500   19.375     5.50
68  2021-05-24 05:00:00  2021      5  ...             72.563   18.250     5.75
..                  ...   ...    ...  ...                ...      ...      ...
667 2021-06-18 04:00:00  2021      6  ...              0.000  200.125     6.00
668 2021-06-18 05:00:00  2021      6  ...              0.000  200.125     6.00
669 2021-06-18 06:00:00  2021      6  ...              0.000  200.125     6.00
670 2021-06-18 07:00:00  2021      6  ...              0.000  200.125     6.00
671 2021-06-18 08:00:00  2021      6  ...              0.000  200.125     6.00

[160 rows x 13 columns]

In [125]:
morning.to_csv('morning.csv', index=False)